{% extends "main.html" %}

{% block content %}
<div>
    <div class="col-lg-12 text-center">
        <h5>
            <p></p>
            <p>
                Добро пожаловать, {{request.user.username}}!
            </p>
            <p>
                Наши страницы:<br>
            </p>
            <p>
                <a href="http://127.0.0.1:8000/static_tree_page">Организационная структура ( Статичное дерево )</a> <br>
            </p>
            <p>
                <a href="http://127.0.0.1:8000/dynamic_tree_page">Организационная структура ( Динамичное дерево с меню )</a> <br>
            </p>
            <p>
                <a href="http://127.0.0.1:8000/paginate_list">Организационная структура ( Таблица с фильтрами )</a> <br>
            </p>
            <p>
                <a href="http://127.0.0.1:8000/create/">Добавление новых сотрудников</a> <br>
            </p>
            <p>
                <a href="http://127.0.0.1:8000/admin">Админка</a> <br>
            </p>
            <p>
                <a href="http://localhost:8000/swagger/">Техническая документация (Open API)</a> <br>
            </p>
        </h5>
        <p>
            <button> <a href="sign/logout/">Выйти</a> </button>
        </p>
    </div>
</div>
{% endblock %}