<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title> Динамичное дерево с меню </title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'twitter-bootstrap/twitter_bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container" style="margin-top:30px;">
        <div class="row">
            <div class="col-lg-12 text-start">
                <ul id="tree1">
                    {% for item, info in annotated_list %}
                        {% if info.open and info.level %}
                            <ul> <li>
                        {% else %}
                            </li><li>
                        {% endif %}
                        {{item.position }} : <a href="#">{{item.first_name }}</a>, <a href="#">{{item.last_name }}</a>
                        {% for close in info.close %}
                                </li></ul>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'twitter-bootstrap/twitter_bootstrap.min.js' %}"></script>
</body>
</html>